/*
    INSTITUTO TECNOLOGICO DE COSTA RICA
    INGENIERIA EN COMPUTACION
    ELECTIVA: DESARROLLO DE APLICACIONES PARA WEB
    HACER DISENO PARA PAGINA www.tec.ac.cr
    DANIEL SOLIS MENDEZ
    MELVIN ELIZONDO PEREZ
    I SEMESTRE 2015
*/


/* ESTILOS GLOBALES */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #150D3E;
    align-content: center;
}


ul{
    list-style-type: none;
}


a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.color-secundario{
    background-color:#eee;
}

.titulo{
    color:#150D3E;  
}


.color-fondo-primario{
    background-color: #150D3E;
}

/*========================================================================*/
/* HEADER */

header{
    height: 140px;
    width: 100%;
}


/* ESTILOS PARA IMAGEN DEL LOGO DEL TEC  */

header > a > img{
    margin: 1% 0 1% 3%;
    float:left;
    width: 115px;
    height: 115px;
}

header > p{
    float: right;
    font-size: 1.2em;
    color: white;
    margin: 4% 0 4% 0;
    width: 20%;
}

/*==============================================================*/
/*              INICIO DE LOS ESTILOS PARA EL NAVIGATION        */

nav{
    float:left;
    margin: 4.5% 0 4% 2%;
    font-size: 1.3em;
    width: 60%;
}

nav > ul > li{margin-bottom: 1%;}


nav > ul > li > a{ /* MENU PRINCIPAL */
    color: white;
    padding: 0.3em 0.4em 0.3em 0.4em;
    border-right: 1px solid #666;
    
}

nav ul li:hover > a{ /* COLOR DE FONDO EN HOVER */
    background-color: #3277AE;
}



nav > ul > li > ul{ /* SUBMENUS */
    background-color: #eee;
    z-index: 10;
    position: absolute;
    
    box-shadow: 0 0 5px #888;     
    //display: none; /* OCULTA LOS SUBMENUS CUANDO CUANDO LA PAGINA CARGA */
}


/* ESTILOS PARA LOS DISTINTOS SUBMENUS */
.lista-escuelas{
    width: 786px;
    padding: 20px;
    background-color: #eee;

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;  
}

.lista-sedes{
    width: 120px;
    background-color: #eee;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;      
}

.lista-carreras{
    width: 850px;
    padding: 20px;
    background-color: #eee;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
}


/* CADA UNA DE LAS LISTAS DEL SUBMENU */
nav > ul > li > ul > li > ul{ 
    width: 25%;
    float:left;
}

/* CADA ELEMENTO DE LAS LISTAS DEL SUBMENU */
nav > ul > li > ul > li > ul > li > a{ 
    display: block;
    padding: 10px;
    height:70px;
    text-transform: none;
    color:#0C3B70;
    font-family: 'Open Sans', sans-serif;
}

/* CAMBIAR LETRA A BLANCO */
nav > ul > li > ul > li > ul > li:hover > a{
    color: white;
}


/* QUITAR LOS BORDES DE SUPERIORES DE LA PRIMER FILA */
nav > ul > li > ul > li > ul > li:first-child{
    border-top: none;
}


/*
    BORDES DE LAS LISTAS DEL SUBMENU
    ================================
*/
.all-border > li{
    border-top:  1px solid #bbb;
    border-right:  1px solid #bbb;
    border-left:  1px solid #bbb;
}

.upri-border > li{
    border-top:  1px solid #bbb;
    border-right:  1px solid #bbb;
}

.up-down-border > li{
    border-top:  1px solid #bbb;
    border-down:  1px solid #bbb;
}

/*=================================*/


/* ESTILOS GENERALES DE LOS SUBMENUS */
nav > ul > li > ul > li{ 
    font-size: 0.7em;
    width: 100%;
}

/* ELEMENTOS */
nav > ul > li > ul > li > a{
    margin:0 2% 0 2%;
    display: block;
    border-top:  1px solid #999;
    padding: 10px;
}

/* COLOR DE FONDO DE submenus sin listas (SEDES) */
nav  ul  li  ul  li:hover{
    background-color: #3277AE;
}

/* COLOR DE LETRA DE submenus sin listas (SEDES) */
nav > ul > li > ul > li:hover > a{
    color: white;
    border: 1px solid #3277AE;
}


/* DESPLEGAR SUBMENUS AL SITIARSE SOBRE OPCION DEL MENU PRINCIPAL */
nav > ul > li:hover > ul{ 
    display: block;
}

/* ESTILOS DE LAS OPCIONES DEL MENU PRINCIPAL */
nav > ul > li{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

/* COLOR DE LETRA DE LOS ELEMENTOS DE LAS LISTAS SIN ESTAR SELECCIONADA */
nav ul li ul li a{
    color: #0C3B70;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
}



/* OCULTA LOS SUBMENUS CUANDO CUANDO LA PAGINA CARGA */
header > nav > ul > li > ul {
    display: none;
}

.carreras-ala,.carreras-car,.carreras-lim,.carreras-carl,.carreras-jos{
    width: 100%;
}



/* SUBMENU DE CARRERAS */


/* ESTILOS MENU DE CARRERAS */


h5{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;    
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.lista-carreras td {
    vertical-align: middle;
    text-align: center;    
    border: 1px #ccc solid;
    height: 50px;    
}

.carreras-ala td{
    width: 33%;
}

.carreras-lim td{
    width: 33%;
}

.carreras-scar td{
    width: 20%;
}

.carreras-car td{
    width: 20%;
}

.carreras-jos td{
    width: 25%;
}

.lista-carreras table td a{
    text-transform: none;
    color:#0C3B70;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    display: block;
    height: 100%;
    padding: 20px;
}

.lista-carreras table td:hover{
    background-color: #3277AE;
}

.lista-carreras table td:hover a{
    color:white;
}





/*===========================================================*/
/* FOOTER*/


footer{
    text-align: center;
    height: 100px;
    background-color: #150D3E;
    color: #fff;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}

footer img{
    width:20px;
    height: 20px;
}

.redes-sociales ul li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}


footer ul li{
    display: inline-block;
}

footer .enlaces-externos li:after{
    content: url('img/icon-header_support_separator.png');
}

.enlaces-externos li a{
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 5%;
    position: relative;
    top:-10px;
}


.enlaces-externos li:hover a{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    color: #150D3E;
    padding:5px;
    font-size: 130%;
}


.contacto , .redes-sociales{
    margin-top: 15px;
    margin-bottom: 15px;
}
