/*
    INSTITUTO TECNOLOGICO DE COSTA RICA
    INGENIERIA EN COMPUTACION
    ELECTIVA: DESARROLLO DE APLICACIONES PARA WEB
    HACER DISENO PARA PAGINA www.tec.ac.cr
    DANIEL SOLIS MENDEZ
    MELVIN ELIZONDO PEREZ
    I SEMESTRE 2015
*/


/*
    ESTILOS GLOBALES
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #150D3E;
    align-content: center;
}

header{
    height: 140px;
    width: 100%;
}


/* ESTILOS PARA IMAGEN DEL LOGO DEL TEC  */

header > a > img{
    margin: 1% 0 1% 3%;
    float:left;
    width: 115px;
    height: 115px;
}

header > p{
    float: right;
    font-size: 1.2em;
    color: white;
    margin: 4% 0 4% 0;
    width: 20%;
}

/*==============================================================*/
/*              INICIO DE LOS ESTILOS PARA EL NAVIGATION        */

nav{
    float:left;
    margin: 4.5% 0 4% 2%;
    font-size: 1.3em;
    width: 60%;
}


nav > ul > li > a{ /* MENU PRINCIPAL */
    color: white;
    padding: 0.3em 0.4em 0.3em 0.4em;
    border-right: 1px solid #666;
}

nav ul li:hover > a{ /* COLOR DE FONDO EN HOVER */
    background-color: #3277AE;
}



nav > ul > li > ul{ /* SUBMENUS */
    background-color: #eee;
    z-index: 10;
    position: absolute;
    
    box-shadow: 0 0 5px #888;     
    display: none; /* OCULTA LOS SUBMENUS CUANDO CUANDO LA PAGINA CARGA */
}


/* ESTILOS PARA LOS DISTINTOS SUBMENUS */
.lista-escuelas{
    width: 786px;
    padding: 20px;
    background-color: #eee;

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;  
}

.lista-sedes{
    width: 120px;
    background-color: #eee;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;      
}

.lista-carreras{
    width: 780px;
    padding: 20px;
    background-color: #eee;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
}


/* CADA UNA DE LAS LISTAS DEL SUBMENU */
nav > ul > li > ul > li > ul{ 
    width: 25%;
    float:left;
}

/* CADA ELEMENTO DE LAS LISTAS DEL SUBMENU */
nav > ul > li > ul > li > ul > li > a{ 
    display: block;
    padding: 10px;
    height:70px;
    text-transform: none;
    color:#0C3B70;
    font-family: 'Open Sans', sans-serif;
}

/* CAMBIAR LETRA A BLANCO */
nav > ul > li > ul > li > ul > li:hover > a{
    color: white;
}


/* QUITAR LOS BORDES DE SUPERIORES DE LA PRIMER FILA */
nav > ul > li > ul > li > ul > li:first-child{
    border-top: none;
}


/*
    BORDES DE LAS LISTAS DEL SUBMENU
    ================================
*/
.all-border > li{
    border-top:  1px solid #bbb;
    border-right:  1px solid #bbb;
    border-left:  1px solid #bbb;
}

.upri-border > li{
    border-top:  1px solid #bbb;
    border-right:  1px solid #bbb;
}

.up-down-border > li{
    border-top:  1px solid #bbb;
    border-down:  1px solid #bbb;
}

/*=================================*/


/* ESTILOS GENERALES DE LOS SUBMENUS */
nav > ul > li > ul > li{ 
    font-size: 0.7em;
    width: 100%;
}

/* ELEMENTOS */
nav > ul > li > ul > li > a{
    margin:0 2% 0 2%;
    display: block;
    border-top:  1px solid #999;
    padding: 10px;
}

/* COLOR DE FONDO DE submenus sin listas (SEDES) */
nav  ul  li  ul  li:hover{
    background-color: #3277AE;
}

/* COLOR DE LETRA DE submenus sin listas (SEDES) */
nav > ul > li > ul > li:hover > a{
    color: white;
    border: 1px solid #3277AE;
}


/* DESPLEGAR SUBMENUS AL SITIARSE SOBRE OPCION DEL MENU PRINCIPAL */
nav > ul > li:hover > ul{ 
    display: block;
}

/* ESTILOS DE LAS OPCIONES DEL MENU PRINCIPAL */
nav > ul > li{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

/* COLOR DE LETRA DE LOS ELEMENTOS DE LAS LISTAS SIN ESTAR SELECCIONADA */
nav ul li ul li a{
    color: #0C3B70;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
}



/* OCULTA LOS SUBMENUS CUANDO CUANDO LA PAGINA CARGA */
header > nav > ul > li > ul {
    display: none;
}

.carreras-ala,.carreras-car,.carreras-lim,.carreras-carl,.carreras-jos{
    width: 100%;
}



/*                        Terminan estilos del NAV Bar                 */
/*=====================================================================*/


.list-images img{
    width: 100%;
    height: 460px;
    
}

ul{
    list-style-type: none;
}


a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}



/*           Estilos y efectos para las imagenes cambiantes             */
/*=====================================================================*/


.list-images {
    height: 460px;
    position:relative;
    width:100%;
    margin:0 auto;
}


@-webkit-keyframes slideImg {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes slideImg {
 0% {
   opacity:1;
 }
 17% {
   opacity:0;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes slideImg {
 0% {
   opacity:1;
 }
 17% {
   opacity:0;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes slideImg {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}




.list-images img {
    
    z-index: -1;
    position:absolute;
    left:0;
    -webkit-animation-name: slideImg;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 50s;
}





.list-images div{
    opacity: 0;
    color: #444;
    font-size: 2em;
    width: 100%;
    background-color: rgba(255,255,255,.35);
    margin: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    bottom: 0;
    position: absolute;
  -webkit-animation-name: slideImg;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 50s;
}







.list-images img:nth-of-type(1) , .list-images div:nth-of-type(1){
  -webkit-animation-delay: 40s;
  -moz-animation-delay: 40s;
  -o-animation-delay: 40s;
  animation-delay: 40s;
}
.list-images img:nth-of-type(2) ,.list-images div:nth-of-type(2){
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  animation-delay: 30s;
}
.list-images img:nth-of-type(3) , .list-images div:nth-of-type(3){
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-delay: 20s;
  animation-delay: 20s;
}
.list-images img:nth-of-type(4), .list-images div:nth-of-type(4) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}

.list-images img:nth-of-type(5), .list-images div:nth-of-type(5) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}








/*NUEVOS ESTILOS*/


h5{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;    
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

td {
    vertical-align: middle;
    text-align: center;    
    border: 1px #ccc solid;
    height: 50px;    
}

.carreras-ala td{
    width: 33%;
}

.carreras-lim td{
    width: 33%;
}

.carreras-scar td{
    width: 20%;
}

.carreras-car td{
    width: 20%;
}

.carreras-jos td{
    width: 25%;
}

table td a{
    text-transform: none;
    color:#0C3B70;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    display: block;
    height: 100%;
    padding: 20px;
}

table td:hover{
    background-color: #3277AE;
}

table td:hover a{
    color:white;
}




/*====================================*/


.content2{
    width: 100%;
    background-color:#ddd;
    height: 500px;
    padding: 50px 0 50px 0;
}

.eventos{
    float:left;
    width: 77%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 1%
}

.eventos div{
    float: left;
    height: 350px;
    width: 24%;
    border: 1px solid #666;
    margin-right: 6px;
}


.evento img{
    height: 200px;
    width: 100%;
}

.evento h3{
    color: #150D3E;
    padding: 0 2% 2% 2%;
}

.evento p{
    font-size: .9em;
    color: #444;
    padding: 0 2% 2% 2%;
}

.div-proximo-evento{
    background-color: #150D3E;
    color: white;    
}


.div-proximo-evento .container{
    width: 100%;
    padding: auto;        
}

.div-proximo-evento p{
    color: #668;
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
    background-color: rgba(255,255,255,0.9);
    padding: 5px;
    padding-bottom: 10px;
}

.div-proximo-evento img {
    width: 100px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 40px;
}





/*====================================*/

.map{
    width: 20%;
    float: left;
}




/*==================================================*/
/*==================================================*/
footer{
    text-align: center;
    height: 100px;
    background-color: #150D3E;
    color: #fff;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}

footer img{
    width:20px;
    height: 20px;
}

.redes-sociales ul li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}


