/*
    INSTITUTO TECNOLOGICO DE COSTA RICA
    INGENIERIA EN COMPUTACION
    ELECTIVA: DESARROLLO DE APLICACIONES PARA WEB
    HACER DISENO PARA PAGINA www.tec.ac.cr
    DANIEL SOLIS MENDEZ
    MELVIN ELIZONDO PEREZ
    I SEMESTRE 2015
*/


/*           Estilos y efectos para las imagenes cambiantes             */
/*=====================================================================*/


.list-images {
    height: 460px;
    position:relative;
    width:100%;
    margin:0 auto;
}

.list-images img{
    width: 100%;
    height: 460px;
    
}

@-webkit-keyframes slideImg {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes slideImg {
 0% {
   opacity:1;
 }
 17% {
   opacity:0;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes slideImg {
 0% {
   opacity:1;
 }
 17% {
   opacity:0;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes slideImg {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}




.list-images img {
    
    z-index: -1;
    position:absolute;
    left:0;
    -webkit-animation-name: slideImg;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 50s;
}





.list-images div{
    opacity: 0;
    color: #444;
    font-size: 2em;
    width: 100%;
    background-color: rgba(255,255,255,.35);
    margin: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    bottom: 0;
    position: absolute;
  -webkit-animation-name: slideImg;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 50s;
}







.list-images img:nth-of-type(1) , .list-images div:nth-of-type(1){
  -webkit-animation-delay: 40s;
  -moz-animation-delay: 40s;
  -o-animation-delay: 40s;
  animation-delay: 40s;
}
.list-images img:nth-of-type(2) ,.list-images div:nth-of-type(2){
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  animation-delay: 30s;
}
.list-images img:nth-of-type(3) , .list-images div:nth-of-type(3){
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-delay: 20s;
  animation-delay: 20s;
}
.list-images img:nth-of-type(4), .list-images div:nth-of-type(4) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}

.list-images img:nth-of-type(5), .list-images div:nth-of-type(5) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}


/* ESTILOS CONTENIDO 2 - EVENTOS Y MAPA */

.content2{
    width: 100%;
    height: 500px;
    padding: 50px 0 50px 0;
}

.eventos{
    float:left;
    width: 77%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 1%
}

.eventos div{
    float: left;
    height: 350px;
    width: 24%;
    border: 1px solid #666;
    margin-right: 6px;
}


.evento img{
    height: 200px;
    width: 100%;
}

.evento h3{
    color: #150D3E;
    padding: 0 2% 2% 2%;
}

.evento p{
    font-size: .9em;
    color: #444;
    padding: 0 2% 2% 2%;
}

.div-proximo-evento{
    background-color: #150D3E;
    color: white;    
}


.div-proximo-evento .container{
    width: 100%;
    padding: auto;        
}

.div-proximo-evento p{
    color: #668;
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
    background-color: rgba(255,255,255,0.9);
    padding: 5px;
    padding-bottom: 10px;
}

.div-proximo-evento img {
    width: 100px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.map{
    width: 20%;
    float: left;
}





