/*
    INSTITUTO TECNOLOGICO DE COSTA RICA
    INGENIERIA EN COMPUTACION
    ELECTIVA: DESARROLLO DE APLICACIONES PARA WEB
    HACER DISENO PARA PAGINA www.tec.ac.cr
    DANIEL SOLIS MENDEZ
    MELVIN ELIZONDO PEREZ
    I SEMESTRE 2015
*/


/*
    ESTILOS GLOBALES
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif','Garamond','Georgia', serif;
}

body{
    background-color: #150D3E;
}

header{
    height: 140px;
    width: 100%;
}


/* ESTILOS PARA IMAGEN DEL LOGO DEL TEC  */

header > a > img{
    margin: 1% 0 1% 3%;
    float:left;
    width: 115px;
    height: 115px;
}

header > p{
    float: right;
    font-size: 1.2em;
    color: white;
    margin: 4% 0 4% 0;
    width: 20%;
}

/*==============================================================*/
/*              INICIO DE LOS ESTILOS PARA EL NAVIGATION        */

nav{
    float:left;
    margin: 4.5% 0 4% 2%;
    font-size: 1.3em;
    width: 60%;
}


nav > ul > li > a{ /* MENU PRINCIPAL */
    color: white;
    padding: 0.3em 0.4em 0.3em 0.4em;
    border-right: 1px solid #666;
}

nav ul li:hover > a{ /* COLOR DE FONDO EN HOVER */
    background-color: #3277AE;
}



nav > ul > li > ul{ /* SUBMENUS */
    background-color: #eee;
    z-index: 10;
    position: absolute;
    
    box-shadow: 0 0 5px #888;     
    display: none; /* OCULTA LOS SUBMENUS CUANDO CUANDO LA PAGINA CARGA */
}


/* ESTILOS PARA LOS DISTINTOS SUBMENUS */
.lista-escuelas{
    width: 786px;
    padding: 20px;
    background-color: #eee;

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;  
}

.lista-sedes{
    width: 120px;
}

.lista-carreras{
    width: 600px;
}


/* CADA UNA DE LAS LISTAS DEL SUBMENU */
nav > ul > li > ul > li > ul{ 
    width: 25%;
    float:left;
}

/* CADA ELEMENTO DE LAS LISTAS DEL SUBMENU */
nav > ul > li > ul > li > ul > li > a{ 
    display: block;
    padding: 10px;
    height:70px;
    text-transform: none;
    color:#0C3B70;
    font-family: 'Open Sans', sans-serif;
}

/* CAMBIAR LETRA A BLANCO */
nav > ul > li > ul > li > ul > li:hover > a{
    color: white;
}


/* QUITAR LOS BORDES DE SUPERIORES DE LA PRIMER FILA */
nav > ul > li > ul > li > ul > li:first-child{
    border-top: none;
}


/*
    BORDES DE LAS LISTAS DEL SUBMENU
    ================================
*/
.all-border > li{
    border-top:  1px solid #bbb;
    border-right:  1px solid #bbb;
    border-left:  1px solid #bbb;
}

.upri-border > li{
    border-top:  1px solid #bbb;
    border-right:  1px solid #bbb;
}

.up-down-border > li{
    border-top:  1px solid #bbb;
    border-down:  1px solid #bbb;
}

/*=================================*/


/* ESTILOS GENERALES DE LOS SUBMENUS */
nav > ul > li > ul > li{ 
    font-size: 0.7em;
    width: 100%;
}

/* ELEMENTOS */
nav > ul > li > ul > li > a{
    margin:0 2% 0 2%;
    display: block;
    border-top:  1px solid #999;
    padding: 10px;
}

/* COLOR DE FONDO DE submenus sin listas (SEDES) */
nav  ul  li  ul  li:hover{
    background-color: #3277AE;
}

/* COLOR DE LETRA DE submenus sin listas (SEDES) */
nav > ul > li > ul > li:hover > a{
    color: white;
    border: 1px solid #3277AE;
}


/* DESPLEGAR SUBMENUS AL SITIARSE SOBRE OPCION DEL MENU PRINCIPAL */
nav > ul > li:hover > ul{ 
    display: block;
}

/* ESTILOS DE LAS OPCIONES DEL MENU PRINCIPAL */
nav > ul > li{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

/* COLOR DE LETRA DE LOS ELEMENTOS DE LAS LISTAS SIN ESTAR SELECCIONADA */
nav ul li ul li a{
    color: #0C3B70;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
}



/* CARRERAS */

.carreras-ala,.carreras-car,.carreras-lim,.carreras-carl,.carreras-jos{
    width: 100%;
}




/*                        Terminan estilos del NAV Bar                 */
/*=====================================================================*/


.list-images img{
    width: 100%;
    height: 460px;
    
}


ul{
    list-style-type: none;
}


a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}