/* { border: 1px solid black}*/


*{
    margin: 0;
    padding: 0;
}



body{
    background-color: #150D3E;
    align-content: center;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav{

    float: left; 
    width: 60%;
}

/*=============================================================================*/
/*       Estilos para los sections donde se va a mostrar la informacion       */

.page-wrapper{
    float: left;
    overflow: hidden;
    width: 100%;
    display: block;
    background-color: #fff;
    position: relative;
}

.content-wrapper{
    width: 70%;
    float: left;
    text-align: justify;
    padding-bottom: 20px;
}

.content-wrapper h2{
    color: #333;
    font-size: 1.9em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.info-escuela{
    padding-left: 40px;

}

.page-wrapper h1{
    
    color: #333;
    margin-left: 20px;
    font-size: 2em;
    padding: 20px;
    
}

/* ==================================================================*/
/*      Estilos del aside bar para el menu                          */

aside{
    width: 23%;
    font-family: 'Bree Serif','Garamond','Georgia', serif;
    color: #150D3E; 
    padding: 10px;
    padding-right: 40px;
    background-color: rgb(220,220,220);
    float: right;
    box-shadow: 0 0 5px;
    margin-right: 2px;
    position: relative;
    overflow: hidden:

}

aside > ul > ul > li { 
    font-size: 1.3em;
    color: #333;
    font-family: 'Bree Serif','Garamond','Georgia', serif;
    
}

aside > ul > ul > li > a{
    text-decoration: none;
    color: #444;
    display: block;
    padding: 5px;
    font-family: 'Bree Serif','Garamond','Georgia', serif;
    
}
aside ul{
    display: block;
}

aside li{
    display: block;
    list-style-type: none;

}

aside > ul > ul> ul> li> a{
    display: block;
    text-decoration: none;
    color: #333;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    border-bottom: 1px solid #bbb;
    margin-left: 25px;
}

aside a:hover{
    text-decoration: none;
    color: #150D3E;
    
}

.links-list li:hover a{
    background-color: #3277AE;
    color: #fff;
}

.grados-escuelas{
    margin-bottom: 10px;
}

aside > ul > li{
    color: #333;
    font-size: 1.7em;
    margin-bottom: 10px;
}


/*==========================================================*/
.img-escuela img{
    width: 100%;
	max-height: 278px !important;
    padding-left: 20px;
}























