/* { border: 1px solid black}*/


*{
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif','Garamond','Georgia', serif;
}

body{
    background-color: #150D3E;
    align-content: center;
}

body {
    display: block;
    margin: 0;
    padding: 0;
}

nav{

    margin-left: 70px;
    float: left;
    width: 60%;
}


aside{
    background-color: rgb(220,220,220);
    margin-right: 70px;
    float: right;
    width: 20%;
}

ul {
    padding: 5px;
    margin-left: 20px;
    list-style: none;
}

ul > li > a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/*=============================================================================*/
/*       Estilos para los sections donde se va a mostrar la informacion       */

.page-wrapper{
    overflow: auto;
    width: 100%;
    display: block;
    background-color: #fff;
    position: relative;
}

.content-wrapper{
    width: 70%;
    float: left;
}

.info-escuela{
    padding-left: 40px;
}
