.content2{
    width: 100%;
    background-color: #bbb;
    height: 300px;
}

.titulo{
    padding-top: 20px;
    //width: 80%; 
    //margin: auto;
    text-align: center
}

#buscador{
    width: 80%;
    border-radius: 15px;
    height: 150px;
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    border: 1px #555 solid;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
}
